main {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
}
  
app-square {
    border: 1px teal solid;
    height: 150px;
}

button {
    margin-bottom: 2rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center h1, h2 {
    font-size: 2rem !important;
    line-height: 0.5rem !important;
}

@media (max-width: 450px){
    main {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 0px;
    }
      
    app-square {
        border: 1px teal solid;
        height: 100px;
    }
    .center h1, h2 {
        font-size: 1rem !important;
        line-height: 0.5rem !important;
    }
}